# Telco Case Study

### Question 1

What might be the drivers for variation in network maintenance performance between regions?

*Your answer (non-coding):*

### Question 2

After working with Data Scientists and industry experts, we've agreed to uncover the drivers of engineering team performance using a model.  The first task is to assess the data available.

What data quality issues would you be concerned about and check for?

- What data quality issues would you be concerned about and check for?
- Execute a test for completeness of data against the `Issue type` field in the alarms.json file

In [2]:
# Your answer
"..."

'...'

### Question 3

A simple initial definition of performance, is agreed to be the number of tickets a team resolves.

To better understand the variances produce a table showing:

- team
- tickets_priority_1_count
- tickets_priority_2_count
- tickets_priority_3_count

In [27]:
# Your Answer

In [12]:
# Example output schema (using generated mock data)
import pandas as pd
import numpy as np
teams = ['team78', 'team30', 'team68', 'team56', 'team34', 'team48',
       'team28', 'team33', 'team90']
example_output_q3 = pd.DataFrame(
    {'team': np.random.choice(teams, 24),
     'tickets_priority_1_count': np.random.randint(0,100,24),
     'tickets_priority_2_count': np.random.randint(0,100,24),
     'tickets_priority_3_count': np.random.randint(0,100,24)}
)
example_output_q3.head()

,team,tickets_priority_1_count,tickets_priority_2_count,tickets_priority_3_count
0,team0,61,73,72
1,team1,77,29,62
2,team2,26,58,63
3,team3,67,17,92
4,team4,77,1,75

### Question 4

As input to the early model effort create a dataframe with:

- year
- month
- team
- team size
- tickets solved in the current month
- tickets solved in the previous year

In [11]:
# Your Answer

In [2]:
# Example output schema (using generated mock data)
import pandas as pd
import numpy as np
teams = ['team78', 'team30', 'team68', 'team56', 'team34', 'team48',
       'team28', 'team33', 'team90']
example_output_q4 = pd.DataFrame(
    {'year': [2018]*12 + [2019]*12,
     'month': list(range(1,13))*2,
     'team': np.random.choice(teams, 24),
     'team_size': np.random.randint(1,6,24),
     'tickets_solved_in_the_current_month': np.random.randint(0,100,24),
     'tickets_solved_in_the_previous_year': np.random.randint(0,100,24)}
)
example_output_q4.head()

,year,month,team,team_size,tickets_solved_in_the_current_month,tickets_solved_in_the_previous_year
0,2018,1,team28,1,64,32
1,2018,2,team90,2,84,43
2,2018,3,team78,3,88,29
3,2018,4,team78,4,81,15
4,2018,5,team34,2,23,31

### Question 5

A hypothesis is that the teams working on newer towers will take longer to resolve issues.

A colleague began work on the below, but has left it unfinished...

Create a function that accepts alarms records (or subparts) and returns the alarm network type.

This is a chance to demonstrate your software engineering skills. Make sure this function is robust & ready for PR; consider testing & documentation.

In [9]:
# Your Answer
def myFunc(json_string):
    # todo fix me
    if json_string['alarm_src']['mecontext'] == 'GSM':
        return 'GSM'